In [1]:
import pprint as pp
import requests 
import json
from datetime import date
import datetime
import pandas as pd
from time import mktime
from datetime import datetime, timedelta
import numpy as np
import matplotlib.pyplot as plt
import numpy as np

In [2]:
with open('shares.json') as g:
    file_data = json.load(g)

In [4]:
sharesdf= pd.DataFrame(file_data)
sharesdf

,newspaper,date,title,url,shares
0,Breitbart,2020-01-20,China Says 'No Need to Panic' as Deadly Virus ...,China Says 'No Need to Panic' as Deadly Virus ...,{'facebook': 828}
1,Breitbart,2020-01-26,Arizona Resident is Fifth Coronavirus Case in ...,Arizona Resident is Fifth Coronavirus Case in ...,{'facebook': 736}
2,Breitbart,2020-01-23,"China Lockdown Extends to Five Cities, 20 Mill...","China Lockdown Extends to Five Cities, 20 Mill...",{'facebook': 448}
3,Breitbart,2020-01-22,EXCLUSIVE: Chinese Coronavirus 'Really Serious...,EXCLUSIVE: Chinese Coronavirus 'Really Serious...,{'facebook': 351}
4,Breitbart,2020-01-22,Possible Case of Chinese Coronavirus Reaches M...,Possible Case of Chinese Coronavirus Reaches M...,{'facebook': 321}
...,...,...,...,...,...
2729,WSJ,2020-04-07,India Again Allows Export of Antimalarial Drug...,India Again Allows Export of Antimalarial Drug...,{'facebook': 1546}
2730,WSJ,2020-04-06,Coronavirus Hits Meat Plants as Some Workers G...,Coronavirus Hits Meat Plants as Some Workers G...,{'facebook': 1507}
2731,WSJ,2020-04-06,Opinion | A Failure of Discipline Under Capt. ...,Opinion | A Failure of Discipline Under Capt. ...,{'facebook': 1482}
2732,WSJ,2020-04-11,"U.S. Coronavirus Death Toll Passes Italy, Beco...","U.S. Coronavirus Death Toll Passes Italy, Beco...",{'facebook': 1342}
2733,WSJ,2020-04-06,Need a Small Business Loan? Here's What You Ne...,Need a Small Business Loan? Here's What You Ne...,{'facebook': 1298}

In [62]:
nsf= pd.DataFrame({"Newspaper": sharesdf['newspaper'], "Date":sharesdf['date'], "shares": sharesdf['shares']})

In [73]:
l1 =[]
for i in range(nsf.shape[0]):
    
    try:
        l1.append(list(nsf.shares[i].values())[0])
    except:
        l1.append(0)
nsf['fb_sh']=l1
nsd = nsf[['Newspaper','Date','fb_sh']]
nsd

      Newspaper        Date  fb_sh
0     Breitbart  2020-01-20    828
1     Breitbart  2020-01-26    736
2     Breitbart  2020-01-23    448
3     Breitbart  2020-01-22    351
4     Breitbart  2020-01-22    321
...         ...         ...    ...
2729        WSJ  2020-04-07   1546
2730        WSJ  2020-04-06   1507
2731        WSJ  2020-04-06   1482
2732        WSJ  2020-04-11   1342
2733        WSJ  2020-04-06   1298

[2734 rows x 3 columns]

In [74]:
ab = nsd.groupby(["Date","Newspaper"]).sum()

In [95]:
ab= ab.reset_index()
ab = ab.sort_values(by = ["Newspaper","Date"])
ab.to_csv(r'share_news_jan_april.csv')

In [87]:
sumdf = pd.DataFrame(ab.groupby("Newspaper"))

In [93]:
sumdf[0]

0           Breitbart
1    Business_Insider
2     Financial Times
3            Fox News
4         MarketWatch
5             NYTimes
6             Reuters
7        The Guardian
8                 WSJ
Name: 0, dtype: object

In [45]:
sumdf

0                          fb_shares
date       new...
1                                 fb_shares
date   ...
2                                fb_shares
date    ...
3                          fb_shares
date       new...
4                            fb_shares
date       n...
5                          fb_shares
date       new...
6                          fb_shares
date       new...
7                             fb_shares
date       ...
8                          fb_shares
date       new...
Name: 1, dtype: object

In [36]:
l1 = [list(x.values())[0] for x in nsf.shares]

AttributeError: 'bool' object has no attribute 'values'

In [22]:
l1 = [list(x.values())[0] for x in sharesdf.shares]

IndexError: list index out of range

In [21]:
sharesdf["fb_shares"]=l1
sharesdf

,newspaper,date,url,shares,fb_shares
0,Breitbart,2020-01-20,China Says 'No Need to Panic' as Deadly Virus ...,{'facebook': 828},0
1,Breitbart,2020-01-26,Arizona Resident is Fifth Coronavirus Case in ...,{'facebook': 736},0
2,Breitbart,2020-01-23,"China Lockdown Extends to Five Cities, 20 Mill...",{'facebook': 448},0
3,Breitbart,2020-01-22,EXCLUSIVE: Chinese Coronavirus 'Really Serious...,{'facebook': 351},0
4,Breitbart,2020-01-22,Possible Case of Chinese Coronavirus Reaches M...,{'facebook': 321},0
...,...,...,...,...,...
2729,WSJ,2020-04-07,India Again Allows Export of Antimalarial Drug...,{'facebook': 1546},0
2730,WSJ,2020-04-06,Coronavirus Hits Meat Plants as Some Workers G...,{'facebook': 1507},0
2731,WSJ,2020-04-06,Opinion | A Failure of Discipline Under Capt. ...,{'facebook': 1482},0
2732,WSJ,2020-04-11,"U.S. Coronavirus Death Toll Passes Italy, Beco...",{'facebook': 1342},0
2733,WSJ,2020-04-06,Need a Small Business Loan? Here's What You Ne...,{'facebook': 1298},0

In [56]:
final_data = sharesdf[["newspaper","date","fb_shares"]]
final_data

      newspaper        date  fb_shares
0     Breitbart  2020-01-20          0
1     Breitbart  2020-01-26          0
2     Breitbart  2020-01-23          0
3     Breitbart  2020-01-22          0
4     Breitbart  2020-01-22          0
...         ...         ...        ...
2729        WSJ  2020-04-07          0
2730        WSJ  2020-04-06          0
2731        WSJ  2020-04-06          0
2732        WSJ  2020-04-11          0
2733        WSJ  2020-04-06          0

[2734 rows x 3 columns]

In [57]:
ab = final_data.groupby(["date","newspaper"]).sum()

In [58]:
ab

                            fb_shares
date       newspaper
2020-01-08 Reuters                  0
2020-01-09 Financial Times          0
           Fox News                 0
           NYTimes                  0
           Reuters                  0
...                               ...
2020-04-12 Fox News                 0
           MarketWatch              0
           Reuters                  0
           The Guardian             0
           WSJ                      0

[732 rows x 1 columns]